# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y
	depends on (BOARD_WE60_2_0 || BOARD_WE65_2_0 || BOARD_WE65_2_3 || BOARD_WE65I_2_2 || BOARD_WE65I_3_0)

config BOARD_CHARGER_CTRL
	bool "Enable battery charger"
	default y
	depends on (BOARD_WE60_2_0 || BOARD_WE65_2_0 || BOARD_WE65_2_3 || BOARD_WE65I_2_2 || BOARD_WE65I_3_0)
